<div data-role="dialog" data-theme="a" data-dom-cache="true" data-title="Login" id="loginBox">
    <div data-role="header">
        <h1>Prihlaste sa</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        <div id="alertLogin" class="alert">&nbsp</div>
        <form id="loginForm" action="#" method="post" data-transition='pop'>
        	<label for="login-name">Prihlasovacie meno (e-mail):</label>
        	<input type="text" name="login-name" id="login-name" value="" />
        	<label for="login-password">Heslo:</label>
        	<input type="password" name="login-password" id="login-password" value="" autocomplete="off" />
        	<br />
        	<div class="ui-grid-a ui-responsive">
			    <div class="ui-block-a"><input type="submit" value="Prihlásiť" data-icon="refresh" /></div>
			    <div class="ui-block-b"></div>
			</div>
        </form>
    </div><!-- /content -->
</div><!-- /page manual -->