<div data-role="dialog" data-theme="a" data-dom-cache="true" data-title="Login" id="loginBox">
    <div data-role="header">
        <h1>Nie ste prihlaseny</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        <div>
        	Vitajte v aplikácií Computer Algebra Systems. <br /><br />
        	Pre lepšiu použiteľnosť vám odporúčame za registrovať sa alebo prihlásiť. <br /><br />
        </div>
		<ul data-role="listview" style="margin-top:0">
			<li class="link-login-dialog"data-icon="action"><a href="./login-form.html" title="Prihlásiť">Prihlásiť</a></li>
			<li class="link-registration-dialog" data-icon="action"><a href="./registration-form.html" title="Registrovať">Registrovať</a></li>
		    
		</ul>
    </div><!-- /content -->
</div><!-- /page manual -->