<div data-role="page" data-theme="a" data-dom-cache="true" data-title="O aplikácii" id="information">
    <div data-role="header">
        <h1>O aplikácii</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        <p></p>
    </div><!-- /content -->

    <div data-role="footer">
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li><a href="../index.html" data-icon="home" data-role="button" data-direction="reverse">API Explorer</a></li>
                <li><a href="./manual.html" data-icon="star" data-role="button">Manuál</a></li>
            </ul>
        </div><!-- /navbar -->
    </div><!-- /footer -->
</div><!-- /page info -->